<div class="standard">
<h1><%=@event.event.capitalize %></h1>

<a href="/events/<%=@event.id %>/edit">Edit</a>
<a href="/events/<%=@event.id %>/delete">Delete</a>

<br>
<br>
<a href="/">Home</a>

</div>