

<div class='standard'>
<h2>Add Nation</h2>

<body>

<form action ='/nation' method="post">
  <label for="nation">Nation:</label>
  <input type="text" name="nation">
  <input type='submit' value="Add nation">

</form>
</div>






